-bash
curl
htop
nano
luci-i18n-base-zh-cn
luci-compat

luci-app-firewall
luci-i18n-firewall-zh-cn
luci-app-opkg
luci-i18n-opkg-zh-cn

luci-app-passwall
luci-i18n-passwall-zh-cn

luci-app-openclash

luci-app-adguardhome

luci-app-turboacc

kmod-wireguard
wireguard-tools
luci-proto-wireguard

kmod-tun
ca-bundle
ca-certificates
wget-ssl
coreutils-nohup

kmod-e1000
kmod-e1000e
kmod-igb
kmod-r8169
kmod-tg3
kmod-virtio-net

kmod-usb-core
kmod-usb2
kmod-usb3
kmod-usb-storage
kmod-fs-ext4
block-mount
fdisk
lsblk

luci-theme-argon
