-bash
curl
htop
nano
wget-ssl
ca-bundle
ca-certificates
coreutils-nohup
luci-i18n-base-zh-cn
luci-compat

luci-app-firewall
luci-i18n-firewall-zh-cn

luci-app-passwall
luci-i18n-passwall-zh-cn

luci-app-openclash

adguardhome

kmod-wireguard
wireguard-tools
luci-proto-wireguard

kmod-tun

kmod-e1000
kmod-e1000e
kmod-igb
kmod-r8169
kmod-tg3

kmod-usb-core
kmod-usb2
kmod-usb3
kmod-usb-storage
kmod-fs-ext4
block-mount
fdisk
lsblk

luci-theme-argon
